<div  ng-controller="tutorController as vm">
    <div ng-include="'app/views/manageTutorHeader.html'"></div>
    <div >
        <div class="row table table-responsive table-bordered">
            <div class="col-xs-6">Name</div>
            <div class="col-xs-6">{{vm.tutorPortal[0].fname}} {{vm.tutorPortal[0].sname}} {{vm.tutorPortal[0].lname}}</div>
        </div>
        <div class="row table table-responsive table-bordered">
            <div class="col-xs-6">Mobile:</div>
            <div class="col-xs-6">{{vm.tutorPortal[0].mobile}}</div>
        </div>
        <div class="row table table-responsive table-bordered">
            <div class="col-xs-6">Email</div>
            <div class="col-xs-6">{{vm.tutorPortal[0].email}}</div>
        </div>
        <div class="row table table-responsive table-bordered">
            <div class="col-xs-6">Date Contracted</div>
            <div class="col-xs-6"> {{vm.tutorPortal[0].doc}}</div>
        </div>
        <div class="row table table-responsive table-bordered">
            <div class="col-xs-6">Lessons assigned per week</div>
            <div class="col-xs-6"> {{vm.tutorPortal.Lessoncount}}</div>
        </div>
    </div>
    <button class="btn btn-default">Edit Tutor details</button>  

    <div>

        <p>Instruments</p>
        <ol>
            <li ng-repeat="instrument in vm.tutorPortal.Instruments">{{instrument.tutorinstrumentName}}&nbsp;&nbsp;
                <a href="#/manageTutor"><h6 class="btn btn-info" 
                ng-click="vm.selectedInstrument.ID = instrument.tutorinstrumentID; vm.deleteTutorInstrument()">Delete</h6></a>
            </li>

        </ol>
    </div>
    <a href="#/addanothertutorInstrument" role="button" class="btn btn-info">Add Instrument</a>

</div>

